.problems {
  min-width: 320px;
  position: relative;
  padding-top: 50px;

  padding-bottom: 63px;
	@@ -21,36 +19,21 @@
  }

  @media screen and (min-width: $desktop) {
    width: 1680px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 130px;

    background-image: linear-gradient(
      to bottom,
      $color-dark 66%,
      $color-white 34%
    );
  }
}

.problems__vector-svg {
  position: absolute;
  top: 88px;
  right: 0;
  fill: #3d3d3d;
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.problems__title {
  width: 280px;
  height: 128px;

  margin: 0 auto;
  margin-bottom: 27px;

  font-family: $font;
	@@ -74,7 +57,7 @@
    width: 568px;
    height: 104px;
    font-size: 26px;
    margin: 0;
    margin-bottom: 25px;

    &-mobile {
	@@ -101,11 +84,9 @@
  width: 280px;
  height: 488px;

  margin: 0 auto;

  padding: 20px 30px;
  // padding-left: 30px;
  // padding-right: 14px;
  background: $color-white;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.08);

	@@ -130,9 +111,6 @@
    padding-left: 114px;
    padding-right: 112px;
    padding-bottom: 62px;

    position: relative;
    z-index: 1;
  }
}
